.content {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 50px 0 100px;
}

.title {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#cart__table {
    margin: 30px 0;
    padding: 10px 0 10px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.cart__name {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.cart__addition {
    display: flex;
}

.cart__pieces {
    margin-right: 100px;

    font-size: 16px;
    font-weight: 400;
}

.cart__pr {
    margin-right: 15px;

    font-size: 16px;
    font-weight: 400;
}

.cart__close {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    line-height: 22px;
    color: red;
    cursor: pointer;
}


.cart__slider {
    margin-bottom: 50px;
}


.slider__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__prev {
    margin: 0;
    padding: 5px;
    color: transparent;
    border-radius: 0;
    width: 25px;
    height: 35px;
    background: #f90;
    cursor: pointer;
}

.slider__next {
    margin: 0;
    padding: 5px;
    color: transparent;
    border-radius: 0;
    width: 25px;
    height: 35px;
    background: #f90;
    cursor: pointer;
}


.slider__body {
    display: flex;
    margin: 0 -15px;
}

.slider__item {
    width: 25%;
    margin: 0 15px;
}

.slider__img {
    width: 100%;
}

.slider__name {
    line-height: 20px;
    height: 40px;
    font-size: 18px;
    margin: 0 0 10px;
}

.slider__pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__price {
    font-size: 22px;
}

.slider__cart {
    display: table;
    font-size: 14px;
    line-height: 20px;
    color: #f90;
    border-radius: 8px;
    border: 1px solid #f90;
    padding: 8px 14px;
    cursor: pointer;
}

.pay {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 30px;
}

.promo {
    display: flex;
    justify-content: flex-start;
}

.promo__code {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 1em;
    margin-bottom: .75em;
    padding: .5em;
    transition: border-color 150ms ease;
    width: 100%;

    float: left;
}

.promo__check {
    margin-left: 10px;
    display: table;
    width: 180px;
    border-radius: 7px;
    line-height: 36px;
    font-weight: 500;
    background: #f90;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.pay__end {
    display: flex;
}

.pay__text {
    font-size: 20px;
    color: #000;
    margin: 0;
}

.pay__price {
    font-size: 20px;
    padding-left: 5px;
    color: #f90;
}

.control__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}

.big__button {
    width: 180px;
    padding: 10px 20px;
    border-radius: 7px;
    line-height: 40px;
    font-weight: 500;
    background: #f90;
    color: #fff;
    cursor: pointer;
    text-align: center;
}